<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';"> -->
  <title>Allergie App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/styles.css" />
</head>
<body>
    <div id="navbar-container"></div>

    <main id="content"></main>

    <script type="module">
        import { NavbarComponent } from "/components/NavbarComponent.js";
        import { navigate } from "/components/renderer.js";
    
        async function initializeApp() {
            document.getElementById("navbar-container").innerHTML = NavbarComponent.render();

            navigate("trees");
        }

        document.addEventListener("DOMContentLoaded", initializeApp);
    </script>
</body>
</html>